@model CategoryViewModel
@{
    ViewData["Title"] = "Category Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info text-dark">Category List</h2>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#CategoryCreateModal">
                Create Category
            </button>
        </div>
    </div>
    <br />
    <div>

        @if (@Model.Categories.Count() > 0)
        {
            <table class="table col-md-8" style="margin-left: auto; margin-right: auto;">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.Category.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Category.Name)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.Name)</td>
                            <td>
                                
                                <a class="editCategory" data-id="@item.Id"><i class="fas fa-edit"></i></a>
                            
                                <a class="deleteCategory" data-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                               
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <h1>Empty!</h1>
        }


    </div>
</div>

<div class="modal fade" id="CategoryCreateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light justify-content-center">
                <h5 class="modal-title">CreateCategory</h5>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">
                <form method="post" asp-action="CreateCategory">
                    <input hidden id="CreateCategoryId" asp-for="Category.Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label asp-for="Category.Name" class="col-form-label"></label>
                        </div>
                        <div class="col-6">
                            <input id="CreateCategoryName" asp-for="Category.Name" class="form-control" />
                        </div>
                        <span asp-validation-for="Category.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-5 offset-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width:20%" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="CategoryEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light justify-content-center">
                <h5 class="modal-title">EditCategory</h5>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">
                <form method="post" asp-action="EditCategoryPost">
                    <input hidden id="EditCategoryId" asp-for="Category.Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label asp-for="Category.Name" class="col-form-label"></label>
                        </div>
                        <div class="col-6">
                            <input id="EditCategoryName" asp-for="Category.Name" class="form-control" />
                        </div>
                        <span asp-validation-for="Category.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-5 offset-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width:20%" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $(".deleteCategory").click(function () {


                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');


                if (confirm("Delete?"))
                {

                    $.ajax({
                        type: "DELETE",
                        url: "/Manage/Category/DeleteCategory",
                        data: { "Id": id },
                        success: function (data) {
                            location.reload();

                        },
                        error: function () {
                            alert("Delete failed.");
                        }
                    });
                }
   
            });
            $(".editCategory").click(function () {

                
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var name = "";
                $.getJSON('/Manage/Category/EditCategory', { id: id }, function (data) {
                    
                    $.each(data, function (i, item) {
                        
                        if (i == "name")
                        {
                            name = item;
                        }

                    });
                   
                    // do something, load modal
                    $('#EditCategoryId').val(id);
                    $('#EditCategoryName').val(name);
                    $('#CategoryEditModal').modal('show');
          
            })

            });
    </script>


}