@model SubCategoryViewModel
@using EcommerceOne.WebApp.Extensions
@{
    ViewData["Title"] = "Sub Category Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info text-dark">Sub Category List</h2>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#SubCategoryCreateModal">
                Create Sub Category
            </button>
        </div>
    </div>
    <br />
    <div>

        @if (@Model.SubCategories.Count() > 0)
        {
            <table class="table col-md-8" style="margin-left: auto; margin-right: auto;">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.SubCategory.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.SubCategory.Name)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SubCategories)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.Name)</td>
                            <td>
                                
                                <a class="editSubCategory" data-id="@item.Id"><i class="fas fa-edit"></i></a>
                            
                                <a class="deleteSubCategory" data-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                               
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <h1>Empty!</h1>
        }


    </div>
</div>


<div class="modal fade" id="SubCategoryCreateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light justify-content-center">
                <h5 class="modal-title">CreateSubCategory</h5>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">
                <form method="post" asp-action="CreateSubCategory">
                    <input hidden id="CreateSubCategoryId" asp-for="SubCategory.Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label asp-for="SubCategory.Name" class="col-form-label"></label>
                        </div>
                        <div class="col-6">
                            <input id="CreateSubCategoryName" asp-for="SubCategory.Name" class="form-control" />
                        </div>
                        <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label asp-for="SubCategory.CategoryId" class="col-form-label"></label>
                        </div>
                        <div class="col-6">
                           <select id="ddlCategorylist" asp-for="SubCategory.CategoryId" 
                           asp-items="Model.Categories.ToSelectListItem(Model.SubCategory.CategoryId)" 
                           class="form-control"></select>
                        </div>
                      
                    </div>
                    <div class="form-group row">
                        <div class="col-5 offset-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width:20%" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    

}